.load_profile_chart_style{
                /*border: 1px solid #ccc ;*/
                background-color: #fff ;
                border-radius: 5px;
                margin: 20px 0px;
                min-height: 200px;
                /*height: 10;*/
                padding: 4px 15px;
                position: relative;
            }
.level {
    height:3em;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
    float:right;
}
.progress{
  margin-bottom: 20px;
}
.slide_lv0{background-color:#7C7C7C;color: #999;font-weight:400; }
.slide_lv0_sub{background-color:#555;}
.slide_lv0_txt{color: #666;}

.slide_lv1{background-color:#75ce02;color: #3e6d03;font-weight:400; }
.slide_lv1_sub{background-color:#8dea17;}
.slide_lv1_txt{color: #75ce02;}
.slide_lv2{background-color:#F5C922;color: #956a0c;}
.slide_lv2_sub{background-color:#ffbc2f;}
.slide_lv2_txt{color: #f7ab08;}
.slide_lv3{background-color:#bc250c;color: #5d160b;}
.slide_lv3_sub{background-color:#e51c0d;}
.slide_lv3_txt{color: #bc250c;}

.btn:active, .btn.active
{
  background-color: rgba(74, 175, 213, 0.69);
}

.profile_left_div {
   width: 17.5%;
   display: inline-block;
   vertical-align: top;
   position: relative;
   text-align: center;
	 margin:2em 0 2em 0;
	 height: 9em;

}

.profile_mid_div {
  width: 34%;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  text-align: center;
}

.profile_right_div {
  width: 47%;
  display: inline-block;
  height: 90%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.logo_box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.status_bar_box {
  height: inherit;
  width: 100%;
  padding: 3em;
  line-height: 1.4em;
}

.status_bar_txt {
  color:#666;
  font-size:1em;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
}

.status_bar_val {
  color: white;
  /*font-weight: bold;*/
  font-size: 1.4em;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(0, -50%);
}
.show-time {
	color:#008ec3;
	font-size:3em;
}

.show-weekday {
	color:#008ec3;
	font-size:1.5em;
}

.show-date {
	color:#707070;
	font-size:1.5em;
	margin-left:0.3em;
	padding-top: 0;
	margin-top: -0.4em
}

.center-nav{
	padding-top: 0.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-left: 2em;
	margin-top: 1.2em
}

.center-logo{
	padding-top: 0em;
}

#timer{
	padding-left: 2em;
	border-left:1px solid #ccc;
}

.footer-image{
	/*padding-top: 2em;*/
}

.line-title{
  position:absolute;
  left:0;
	border-top:3px solid #44C049;
  /*border-top:3px solid #44C049;*/
  width:35%;
}

.cycle-title{
  position: relative;
  border-radius: 80px;
  border: 3px solid #44C049;
  width: 32px;
  height: 32px;
  top: -18px;
  left: 30px;
  float: right;
}

.upline-title{
	line-height:32px;
	font-size:2.3em;
	color:#44C049;
	padding-left: 1em;
	margin-top: 0.2em;
}

.bottomline-title{
	line-height:38px;
	font-size:1.6em;
	color:#44C049;
	padding-left: 1.4em;
	padding-bottom: 0.2em
}

#status-jam{
	width:20%;
	font-size:1.2em;
	display:inline-block;
	margin:4px 0 0 4px;
	color:#666;
	padding-left: 0.4em;
}

#faculty-name{
	width:75%;
	/*display:inline-block;*/
	margin:0px 0 0 14px;
	color:#666;
	font-size: 1.2em;
	font-weight: 300;
}
#university-name{
	width:75%;
	/* display:inline-block; */
	/*margin:0px 0 0 14px;*/
	color:#666;
	font-size: 1.2em;
	font-weight: 300;
}
#status-jam-building{
	width:24%;
	font-size:1em;
	display:inline-block;
	margin:4px 4px 0 4px;
	color:#666;
}

#faculty-name-building{
	width:65%;
	font-size: 0.9em;
	display:inline-block;
	color:#666;
}

#left-clock{
	display:inline-block;
	width:22%;
	background-color:#8CBDFF;
	color:white;
	font-weight:bold;
	padding: 0.3em 0.25em 0.28em 0.25em;
}
#left-clock-building{
	display:inline-block;
	width:25%;
	background-color:#8CBDFF;
	color:white;
	font-weight:bold;
	padding: 0.25em 0.25em 0.1em 0.25em;
}

#dept-name{
	display:inline-block;
	font-size:1.24em;
	color:#707070;

	padding: 5px;
	width: 77%;
}

#floor-name{
	display:inline-block;
	font-size:1.6em;
	color:#707070;
	width: 65%;
	line-height: 0.5em;
	padding-left: 3px;
}
.box-percentage-status{
	line-height:3.3em;
	font-size:2.5em;
	text-align:center;
	display:inline-block;
	width:3em;
	height:3.1em;
	float:right;
	border-radius:20px 0 20px 0;
	margin:2px 6px;
	color:white;

}

#daily-consumed{
	display:inline-block;
	font-size:1.3em;
	line-height:2em;
	color:#666;
	margin:0 0 0 6px;
	line-height: 2em;
}

#show-energy{
	/*font-family: Helvetica Neue;*/

}

.mepet{
	padding:1px;
}

.right-build-container{
	 width:71.5%;
	 display:inline-block;
	 overflow:hidden;
}

.left-build-container{
	width:28%;
	display:inline-block;
}

.floor-chart{
	height:18em;
	width:100%;
}

.txt_large{font-size: 2.5em; }
.txt_pink{color:#f49ac1;}
.txt_green{color:#65a90d;}
.txt_white{color:white;}
.txt_blue{color:#008ec3;}

.location-room-stay{
	width: 100%;
}

.location-floor{
	width: 35%;
}

.location-room{
	width: 67%;
}
.location-room-stay{
	background: #f4f4f4;
	width: 100%;
	height: 65px;
	margin-bottom: 4px;
	border-radius: 5px;

}
.location-bar-title{
	height:35px;
	float:left;
}
.location-floor{
	width: 29%;
	float: left;
	padding: 6px 0 0 6px;
}
.location-floor-number{
	float:left;
	padding:0;
	vertical-align:text-top;
}
.location-floor-suffix{
	float:left;
	margin:3px 0 0 4px;
}
.location-room{
	display: block;
	background: #008ec3;
	width: 67%;
	height: 65px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: right;
	padding: 6px 0 0 6px;
}

.box-gray-redius,
.box-transparent-redius {
	border-radius: 5px;
	padding: 5px;
	margin: 4px 0;
}
.box-gray-redius{ background-color:rgba(255, 255, 255, 0.68); border:1px solid #cccccc;}
.box-transparent-redius {  border:1px solid #e1e1e8; }
.mode_black{
  background-color:#363636;
  color:white;
  border-radius: 3px;
  line-height: 1.8em;
  margin: 5px 0;
}
.map_meaning{
  background-color:#4A4A4A;
  position:absolute;
  height: 300px;
  width:92.4%;
  z-index:5;
  opacity:0.95;
  color: white;
  padding:5px;
	top: 5.5em;
	right:3.5em;
	display: inline-block;
}
.map-meaning{
	background:#828282;
	height: 151px;
	position: relative;
}
.dropdown-menu-black {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  width: 100%;
  padding: 2px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: black;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  opacity: 0.85;
}
.dropdown-menu-black > li > a {
  display: block;
  padding: 3px 20px;
  margin: 10px ;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: white;
  white-space: nowrap;

}

.dropdown-menu-black > li:hover,
.dropdown-menu-black > li > a:hover {
      color:white;
      background:#7C7A7B;
}
.chart_style{
	border: 1px solid #ccc ;
	background-color: #eee ;
	/*border-radius: 5px;*/
	margin-top:4px;
	height: 25em;
	/*min-width: 400px;*/
}
.progress-new {
      height: 1.3em;
      margin-bottom: 1px;
      overflow: hidden;
      background-color: #f5f5f5;
      border-radius: 0;
}
.slide_lv0{background-color:#444;color: #999;font-weight:400; }
.slide_lv0_sub{background-color:#555;}
.slide_lv0_txt{color: #666;}

.slide_lv1{background-color:#75ce02;color: #3e6d03;font-weight:400; }
.slide_lv1_sub{background-color:#8dea17;}
.slide_lv1_txt{color: #75ce02;}
.slide_lv2{background-color:#F5C922;color: #956a0c;}
.slide_lv2_sub{background-color:#ffbc2f;}
.slide_lv2_txt{color: #f7ab08;}
.slide_lv3{background-color:#bc250c;color: #5d160b;}
.slide_lv3_sub{background-color:#e51c0d;}
.slide_lv3_txt{color: #bc250c;}


.site-manager-header{
	background-color: #acaaab;
	padding: 3px;
	border-radius:3px;
	margin: 4px 0;
}

#highlight_image {
	background-color: transparent;
	background-image: url("../images/gif/loader.gif");
	background-position: 50% 33%;
	background-repeat: no-repeat;
	width: 670px;
	height: 550px;
}
/*#map-meaning-logo{
	background: url("../images/map-meaning-logo.png") top right no-repeat;
	width: 103px;
	height: 104px;
	position: absolute;
	display: inline-block;
	bottom: 5.5em;
	left: 15em;
}
#map-meaning-logo-main{
	background: url("../images/map-meaning-logo.png") top right no-repeat;
	width: 103px;
	height: 104px;
	top: 4px;
	display: inline-block;
}*/
#scale-limit-img {
	background: url("../images/limit-scale-ss.png") top right no-repeat;
	width: 400px;
	height:120px;
	position: relative;
	display: inline-block;
	margin-top: -4em;
	margin-left: -2em;
}
#scale-limit {
	background: url("../images/limit-scale.png") top right no-repeat;
	width: 400px;
	height:120px;
	position: relative;
	display: inline-block;
	margin-top: 0em;
	margin-left: -6em;
}
table#myTable td
    {
      /*border: 1px solid black;*/
      width: 30px;
      height: 30px;
    }
.dev_div {
	display: block;
	height: 35px;
	padding-left: 20px;
	margin-top: auto!important;
	margin-bottom: 4px!important;
	margin-left: auto!important;
	margin-right: auto!important;
	vertical-align: initial!important;
	background-color: rgba(13, 131, 177, 0.78);
	color: white;
}

/*animation*/
@-webkit-keyframes myZoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

}

@keyframes myZoom {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.myZoom {
  -webkit-animation-name: myZoom;
  animation-name: myZoom;
}

@-webkit-keyframes myUnZoom {
  0% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes myUnZoom {
  0% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.myUnZoom {
  -webkit-animation-name: myUnZoom;
  animation-name: myUnZoom;
}
